/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 1020px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, .table_boxts */
@media only screen and (max-width : 768px) {
	.nav_toggle {
		display: block;
	}

	.top_header{
		padding-right: 0px;
	}
	.header_topline{
		background: rgba(0,0,0,.6);
		height: 60px;
	}
	#menu{
		display: none;
	}
	.header__right{
		display: none;
	}
	.logo{
		width: 90px;
	}
	.card{
		margin: 15px 0;
	}
	.row--catalog{
		margin-top: 0;
	}
	.modal-wrapper{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.modal__left, .modal__right{
		width: 100%;
	}
	#modal-call .modal__right{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	h1{
		font-size: 2rem;
	}
	.section-header{
		font-size: 2rem;
	}
	.section-subheader{
		font-size: 1.375rem;
		line-height: 1.9rem;	
	}
	#product-name{
		margin-bottom: 20px;
		font-size: 1.2rem;
	}
	.modal__left{
		display: none;
	}
	.gift-price{
		margin-bottom: 30px;
	}
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width:480px){
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {



}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, .table_boxts */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media only screen and (min-width : 1020px) {

}
@media only screen and (min-width: 1600px){
	
}
@media only screen and (min-width: 2100px){

}

